<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>詳細</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/buy_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'css/buy_form.js' %}"></script>
</head>


<body>
    <header>
        <h1>
            
            <a href="{% url 'pengin:home' %}">
                <img src="/media_local/images/logo.png" alt="">
              </a>
          
        </h1>
        <ul class="head">
            <a href="{% url 'pengin:mypage' %}">
                <li>マイページ</li>
            </a>
            <a href="{% url 'pengin:product_registra' %}" class="log">
                <li class="syu">出品</li>
            </a>
            
        </ul>
    </header>
    
    <div class="product-details">
       
        
        <div class="sub-images">
            {% for img in image %}
            {% if number == img.id %}
            <img src="/media_local/{{img.mainimg}}" name="{{img.name}}" class="rounded-pill sub-img" alt="送信">
            <img src="/media_local/{{img.img1}}" name="{{img.name}}" class="rounded-pill sub-img" alt="送信">
            <img src="/media_local/{{img.img2}}" name="{{img.name}}" class="rounded-pill sub-img" alt="送信">
            <img src="/media_local/{{img.img3}}" name="{{img.name}}" class="rounded-pill sub-img" alt="送信">
            {% endif %}
            {% endfor %}
        </div>
        <div class="image-container">
            {% for img in image %}
            {% if number == img.id %}
            <img src="/media_local/{{img.mainimg}}" name="{{img.name}}" class="rounded-pill main-img" alt="送信">
            {% endif %}
            {% endfor %}
        </div>

        <div class="details">
            {% for img in image %}
            {% if img.id == number %}
            <div class="info-container">
                <p class="img-name">{{ img.name }}</p>
                <p class="img-price">¥ {{ img.price }}</p>
                <p class="comments-title">商品詳細</p>
                <p class="img-subject">{{ img.subject }}</p>
            </div>
            {% endif %}
            {% endfor %}

            <div class="comments">
                <p class="comments-title">商品へのコメント</p>
                {% for com in comment %}
                {% if com.thread == number %}
                <div class="comment">
                    {% for us in user %}
                    {% if com.user == us.id %}
                    <p class="username">{{ us.name }}</p>
                    <p class="usercomment">{{ com.comment }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <form method="post" action="{% url 'pengin:buy_form' %}">
                <input type="hidden" value="{{ number }}" name="number">
                {% csrf_token %}
                {{ form.comment }}
                <button type="submit" class="positive_button">コメントを送信する</button>
                <!-- </form> -->
            
            
    </div>

</body>

</html>
