<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <h1><img src="/media_local/images/logo.png" alt="">
            <form method="GET" action="{% url 'pengin:search' %}">
                <input type="text" name="keyword" placeholder=" キーワード検索" style="width:200px;height:38px;">
                <button type="submit" style="width:55px;height:40px;">検索</button>
            </form>
        </h1>
        <ul class="head">
            <a href="{% url 'pengin:home' %}" class="log">
                <li>ホーム</li>
            </a>
            <a href="{% url 'pengin:login' %}">
                <li>ログアウト</li>
            </a>
            <a href="{% url 'pengin:mypage' %}">
                <li>マイページ</li>
            </a>
            <a href="{% url 'pengin:product_registra' %}" class="log">
                <li class="syu">出 品</li>
            </a>
        </ul>
    </header>

    <!--ホームの表示-->
    <form method="post">
        {% csrf_token %}
        <div class="box">
            {% for img in images %}
            <div class="wapper-home">
                <a href="{% url 'pengin:buyaddform' img.id %}"> <!--商品の画像-->
                    <p class="name">{{img.name}}<!--商品の名前--></p>
                    <p class="price">￥{{img.price}}</p>
                    <img src="/media_local/{{img.mainimg}}" name="{{img.name}}" class="rounded-pill" width="50"
                        height="50" class="border_radius" alt="送信" />
                </a>
            </div>
            {% endfor %}
        </div>
    </form>

    <!--検索結果の表示-->
    <div class="box">
        {% for img in image %}
        <div class="wapper-home">
            <a href="{% url 'pengin:buyaddform' img.id %}"> <!--商品の画像-->
                <p class="name">{{img.name}}<!--商品の名前--></p>
                <p class="price">￥{{img.price}}</p>
                <img src="/media_local/{{img.mainimg}}" name="{{img.name}}" class="rounded-pill" width="50" height="50"
                    class="border_radius" alt="送信" />
            </a>
        </div>
        {% endfor %}
    </div>

</body>

</html>