<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <header>
        <h1><img src="./img/typo_logo-b40bf595603dc0e63a5c..svg" alt="">
            <form method="get" action="#" class="search_container">
                <input type="text" size="35" placeholder="　キーワード検索"><input type="submit" value="検索">
            </form>
        </h1>
        <ul class="head">
            <a href="spu.html" class="log">
                <li>出 品</li>
            </a>
        </ul>
    </header>
    <div class="pt-4">
        <h1 class="login-name">ログイン</h1>
        <form action="{% url 'pengin:login' %}" method="POST">
            {% csrf_token %}
            <p><input type="hidden" name="next" value="{{next}}"></p>
            <!--{{ form.as_p }}-->
            <div class="form-pas" placeholder="UserID"> {{form.loginID}}</div>
            <div class="form-pas" placeholder="Password"> {{form.password}}</div>
            <p><input type="submit" value="LOGIN" class="login-botton"></p>
        </form>
        <p class="sinki"><a href="{% url 'pengin:signup' %}">新規登録</a></p>
        {{ form.management_form }}
    </div>
</body>

</html>