<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<body>
    <header>
        <h1><img src="/media_local/images/logo.png" alt="">
    </header>
    <div class="pt-4">
        <h1 class="login-name">ユーザー登録</h1>
        <form action="{% url 'pengin:signup' %}" method="post">
            {% csrf_token %}
            <!-- {{ user_form.as_p }} 'name', 'loginID', 'password'-->
            <p>Name</p>
            {{ user_form.name }}
            <p>LoginID</p>
            {{ user_form.loginID }}
            <p>Password</p>
            {{ user_form.password }}
            <p class="botton"><input type="submit" class="login-botton" value="登録"></p>
        </form>
    </div>
    {% if user_form.errors %}
        <p>エラーメッセージ</p>
        <ul>
            {% for field in user_form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>