/*ヘッターここまで*/
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

header h1 {
    margin: auto 20px;
    display: flex;
}

header img {
    width: 100px;
    margin-right: 20px;
}

.head {
    display: flex;
    margin-right: 30px;
}

.head li {
    padding: 10px 10px;
    margin: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    color: #285773;
}

.head li:hover {
    background-color: rgba(230, 230, 230, 0.7);
    transition: 0.4s;
}

header .log li {
    width: 40px;
    color: #fff;
    background-color: #FF0060;
    border-radius: 4px;
    text-align: center;
}

header .log li:hover {
    background-color: #ff488e;
    opacity: 0.5;
}

/*searchbox*/
.search_container {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.search_container input[type="text"] {
    background: #d7d5d5;
    border: none;
    height: 40px;
}

.search_container input[type="text"]:focus {
    outline: 0;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #636363;
    color: #fff;
    outline: none;
    width: 4.0em;
    height: 40px;
}