/*login要素を中心に*/
.pt-4 {
    width: 450px;
    height: 450px;
    margin: 150px auto 0 auto;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: #939E3D;
    text-align: center;
}

.pt-4 form .botton {
    margin-top: 30px;
}

.pt-4 #id_username {
    height: 30px;
    width: 270px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
}

.pt-4 #id_password {
    height: 30px;
    width: 270px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
}

.pt-4 #id_name {
    height: 30px;
    width: 270px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
}

.pt-4 #id_loginID {
    height: 30px;
    width: 270px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
}

.pt-4 .form-pas p {
    text-align: center;
}

/*login-name*/
.pt-4 .login-name {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #212C50;
}

/*login-botton*/
.pt-4 .login-botton {
    height: 34px;
    width: 274px;
    padding: 3px 100px;
    font-size: 18px;
    color: #212C50;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
}

/*login-bottonにホバーした時*/
.pt-4 .login-botton:hover {
    background-color: #212C50;
    color: #f0f0f0;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
    transition: 0.5s all;
}

/*新規登録ボタン*/
.pt-4 .sinki {
    margin-top: 25px;
}

.pt-4 .sinki a {
    color: #212C50;
    font-size: 18px;
    text-decoration: none;
}

.pt-4 .sinki a:hover {
    text-decoration: underline;
}

/*新規登録画面*/
.pt-4 .top-read {
    color: #212C50;
    font-size: 20px;
    line-height: 250%;
}

.pt-4 .botton-top {
    margin-top: 30px;
}

/*login-botton-top*/
.pt-4 .login-botton-top {
    height: 34px;
    width: 150px;
    padding: 8px 70px;
    font-size: 20px;
    color: #212C50;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #212C50;
}

/*login-bottonにホバーした時*/
.pt-4 .login-botton-top:hover {
    background-color: #212C50;
    color: #f0f0f0;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #212C50;
    transition: 0.5s all;
}